{
	"jsxSingleQuote": true,
	"singleQuote": true,
	"arrowParens": "avoid",
	"parser": "typescript",
	"quoteProps": "as-needed",
	"semi": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all"
}
